* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://happybox.vn/wp-content/uploads/2022/05/tet-2023-nam-con-meo-Quy-mao.jpg');
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
}
h1 {
    font-size: 70px;
    text-align: center;
    color: #fff;
}

h3 {
    font-size: 36px;
}
h4{
    font-size: 48px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .item {
    text-align: center;
    padding: 30px;
    background:#DFFF00;
    color: #000;
    border-radius: 20px;
}
@media screen and (max-width: 576px) {
    h1 {
        font-size: 24px;
        text-align: center;
        color: #fff;
        margin: 20px 0;
    }
    
    h3 {
        font-size: 20px;
    }
    h4{
        font-size: 24px;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .row .item {
        text-align: center;
        padding: 30px;
        background:#DFFF00;
        color: #000;
        border-radius: 6px;
    }
}