* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffcf2;
}
img {
    padding: 10px;
    animation: rotation 4.5s ease infinite;
}
.title {
    font-size: 70px;
    text-align: center;
    color: #000;
}

h3 {
    font-size: 36px;
}
h4 {
    font-size: 48px;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .item {
    text-align: center;
    padding: 30px;
    background: #ffdd7e;
    color: #000;
    border-style: dashed red;
    border-radius: 20px;
}
@media screen and (max-width: 576px) {
    body {
        width: 100%;
    }
    .title {
        font-size: 24px;
        color: #000;
        margin: 20px 0;
        text-align: center;
        font-size: 36px;
        line-height: 2em;
    }

    .time {
        font-size: 40px;
        text-align: center;
        margin: 10px;
    }
    .title-main {
        font-size: 40px;
        text-align: center;
        margin: 0;
        color: #000;
    }
    .row {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .row .item {
        width: 160px;
        text-align: center;
        padding: 30px;
        color: #000;
        border: 3px dashed red;
        border-radius: 20px;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}
